
#---------------------------------------------------------------------
# main frontend which proxys to the backends
#---------------------------------------------------------------------
frontend main
    bind *:80
    acl url_static       path_beg       -i /static /images /javascript /stylesheets
    acl url_static       path_end       -i .jpg .gif .png .css .js

    default_backend             backend

#---------------------------------------------------------------------
# static backend for serving up images, stylesheets and such
#---------------------------------------------------------------------
backend backend
    balance     roundrobin
    server      jumia_validator 10.10.4.125:8081 check

#---------------------------------------------------------------------
# round robin balancing between the various backends
#---------------------------------------------------------------------
